:root {
  --primary-color: 31, 31, 31;
  --secondary-color: 40, 41, 42;
  --secondary-hover-color: 2, 73, 118;
  --tertiary-color: 45, 47, 49;
  --text: 255, 255, 255;
}

body {
  &.dark {
    --primary-color: 31, 31, 31;
    --secondary-color: 40, 41, 42;
    --secondary-hover-color: 2, 73, 118;
    --tertiary-color: 45, 47, 49;
    --text: 255, 255, 255;
  }

  &.light {
    --primary-color: 253, 253, 253;
    --secondary-color: 246, 248, 251;
    --secondary-hover-color: 192, 229, 253;
    --tertiary-color: 241, 244, 250;
    --text: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}



// Main Styles

html, body {
  height: 100%;
}

body {
  background-color: rgb(var(--primary-color));
  color: rgb(var(--text));
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  color: rgb(var(--text));
  text-decoration: none;
  border-bottom: 2px solid rgba(var(--text), 0.2);
  transition: 0.2s ease-in-out;

  &:hover {
    border-bottom: 2px solid rgba(var(--secondary-hover-color), 1);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

// Not Main Styles

.underline {
  text-decoration: underline wavy rgba(var(--text), 0.2);
  cursor: default;
  transition: 0.2s ease-in-out;

  &:hover {
    text-decoration: underline wavy rgba(var(--secondary-hover-color), 1);
  }
}

.hero {
  height: calc(100vh - 2em);
  background-color: rgb(var(--secondary-color));
  border-radius: 2em;
  padding: 2em;
  margin: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3em;
    font-weight: 700;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 400;
  }

  a {
    margin-top: 5em;
  }
}

.link__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}

.features {

  // dynamic grid
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;

  .feature {
    background-color: rgb(var(--tertiary-color));
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: rgb(var(--secondary-hover-color));
    }

    h3 {
      font-size: 1.5em;
      font-weight: 700;
    }

    p {
      font-size: 1em;
      font-weight: 400;
    }
  }
}

main {
  padding: 1em;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 200vh;
}

.cta {
  background-color: rgb(var(--secondary-color));
  border-radius: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h2 {
    font-size: 1.5em;
    font-weight: 700;
  }

  p {
    font-size: 1em;
    font-weight: 400;
  }

  a {
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: rgb(var(--tertiary-color));
    border-radius: 1em;
    border: 2px solid rgb(var(--secondary-color));
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: rgb(var(--secondary-hover-color));
    }

  }
}

nav {

  position: fixed;
  top: -256px;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  margin: 0 auto;
  border-bottom: 2px solid rgb(var(--secondary-color));
  background: rgba(var(--primary-color), 0.8);
  backdrop-filter: blur(10px);
  transition: 0.2s ease-in-out;


  .nav__logo img {
      height: 4em;
      transition: 0.2s ease-in-out;
  }

  .nav__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
  }

  .nav__theme  {
    font-size: 2em;
    cursor: pointer;
    padding: 0.5em;
    transition: 0.2s ease-in-out;

    &:hover {
      color: rgb(var(--secondary-hover-color));
    }
  }

}

// Media Queries

@media (max-width: 768px) {
  .hero {
    justify-content: flex-end;
    align-items: flex-start;
  }

  nav img {
    max-height: 2em;
  }

  nav i {
    font-size: 1.5em !important;
  }

}
